.app-wrapper {
    display: grid;
    margin: 0 auto;
    /*width: 1200px;*/
    /*height: 100vh;*/
    /*width: 100vw;*/

    grid-template-areas:
          "h h"
          "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 8fr;
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background: #dede8d;
    /*background: #FBFCFE;*/
    padding-top: 100px;
}
